.auth-section {
  max-width: 50rem;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 5rem 2rem;
}

.form {
  padding: 2rem;
  border: 1px solid #ccc;
}

.form-title {
  font-size: 2rem;
  padding-bottom: 1.7rem;
  position: relative;
  text-align: center;
}

.form-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -2rem;
  border-bottom: 1px solid #ccc;
  width: calc(100% + 4rem);
}

.error {
  font-size: 1.3rem;
  color: var(--color-secondary);
  margin-top: 1.3rem;
}

.form-group {
  margin-top: 1.5rem;
}

.form-label {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.form-input {
  padding: 1rem;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 1.5rem;
  font-family: inherit;
}

.form-link:link,
.form-link:visited {
  text-decoration: none;
  color: var(--color-primary);
}

.form-group_p {
  margin-bottom: 2.5rem;
}

.form-button {
  display: inline-block;
  width: 100%;
  padding: 1rem;
  border: none;
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #0066ff;
}

.form-alt {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.form-auth-alt-option {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

.form *:focus {
  outline: 3px solid #00a6ff;
}
